{{ define "main" }}
  <div class="main">
    <h1 class="section__title">Hello. こんにちは。</h1>
    <div class="section__border__margin"></div>

    <div class="box width_330px">
      <img src="images/me/cool2.jpg"/>
      <p>It's me ^^.</p>
    </div>

    <div class="box width_330px">
      <p>Welcome to my website! <i class="em em-beers" aria-role="presentation" aria-label="CLINKING BEER MUGS"></i></p>
      <p>This magnificent homepage aims to take you through some of the projects I'm currently working on.</p>
      <p>You know, when I'm not churning away at ye ol' 9-to-5. <i class="em em-alarm_clock" aria-role="presentation" aria-label="ALARM CLOCK"></i></p>
    </div>

    <div style="padding-top: 0rem;" class="section__part section__twd">
      <div class="box">
        <h2>毎日<br/> The Writer's Daily <i class="em em-studio_microphone" aria-role="presentation" aria-label=""></i></h2>
        <p class="text">The Writer's Daily is a podcast. </i></p>
        <p class="text">It's an anthem for new ideas, discussion, storytelling, writing, inspiration and everything else in-between. <i class="em em-tada" aria-role="presentation" aria-label="PARTY POPPER"></i></p>
        <p class="hashtag">#thewritersdaily</p>
      </div>
      <div class="centre">
        <img class="box width_330px" src="images/twd/logo_512_non_transparent.png" />
        <div class="links__bottom homepage__links__other">
          <a href="https://thewritersdaily.juliusreade.com">Website</a>
          <a href="https://castbox.fm/ch/2852897">Podcast</a>
        </div>
      </div>
    </div>

    <div class="section__border__margin"></div>
    <h1 style="margin-bottom: 4rem; margin-left: 3rem;">Would you like... more? もっと、えっ？</h1>
    <div class="section__border__margin"></div>

    <div class="box width_330px">
      <img  src="images/me/cool3.jpg"/>
      <p>Take my hand. This ship is sinking! <i class="em em-boat" aria-role="presentation" aria-label="SAILBOAT"></i></p>
    </div>

    <div class="box width_330px">
      <p>Okay, so I know that was pretty cool.</p>
      <p>But you know, I'm just a pretty cool guy all round, so I suggest you get used to it. <i class="em em-point_left" aria-role="presentation" aria-label="WHITE LEFT POINTING BACKHAND INDEX"></i></p>
    </div>

    <div class="section__part section__twd">
      <div class="box">
        <h2>チャイナマン <br/>{{ with .Site.GetPage "/projects/writing/how-to-kill-a-chinaman.md" }}{{ .Title }}{{ end }} <i class="em em-closed_book" aria-role="presentation" aria-label="CLOSED BOOK"></i></h2>
        <p class="text">How to kill a Chinaman is a novel.</p>
        <p class="text">It's what I spend most my spare time doing and I intend to complete the manuscript sometime in 2021. <i class="em em-scroll" aria-role="presentation" aria-label="SCROLL"></i></p>
        <p class="hashtag">#howtokillachinaman</p>
      </div>
      <div class="centre">
        <img class="box width_330px" src="images/htkac/cover_alt.png" />
        <div class="links__bottom homepage__links__other">
          <a href="https://thewritersdaily.juliusreade.com">Website</a>
        </div>
      </div>
    </div>

    <div class="section__border__margin"></div>
    <h1 style="margin-bottom: 4rem; margin-left: 3rem;">This is getting rediculous. ばかげて！</h1>
    <div class="section__border__margin"></div>

    <div class="box width_330px">
      <img  src="images/me/cool11.jpg"/>
      <p>It's like my face, but a little more... fatally obscured. <i class="em em-lower_left_ballpoint_pen" aria-role="presentation" aria-label=""></i></p>
    </div>

    <div class="box width_330px">
      <p>Oh, so you've fallen in love with me and my charming wit?</p>
      <p>I suppose that makes two of us.</p>
    </div>

    <div class="section__part section__twd">
      <div class="box">
        <h2>瞑想<br/> NeverFap Deluxe <i class="em em-sleuth_or_spy" aria-role="presentation" aria-label=""></i></h2>
        <p class="text">NeverFap Deluxe is a website.</p>
        <p class="text">I overcame pornography addiction in 2019 and so I wanted to help others do the same too.</p>
        <p class="text">I'm usually pretty active in the Discord if you'd like to chat.</p>
        <p class="hashtag">#neverfapdeluxe</p>
      </div>
      <div class="centre">
        <img class="box width_330px" src="images/logo__out__512.png" />
        <div class="links__bottom homepage__links__other">
          <a href="https://neverfapdeluxe.com">Website</a>
          <a href="https://castbox.fm/channel/The-NeverFap-Deluxe-Podcast-id2045024">Podcast</a>
          <a href="https://www.reddit.com/r/neverfapdeluxe/">Reddit</a>
          <a href="https://discord.gg/Sg6PSsK">Discord</a>
          <a href="http://github.com/neverfap-deluxe">Github</a>
        </div>
      </div>
    </div>

    <div class="section__border__margin"></div>
    <h1 class="section__title">#YOLO. #萬歲。</h1>
    <div class="section__border__margin"></div>

    <div class="box width_330px">
      <img  src="images/me/coole.jpg"/>
      <p>We walk amongst the giants.</p>
    </div>

    <div class="box width_330px">
      <p>Anyway, that's all I really have to showcase for today.</p>
      <p>Thank you for visiting. You've been fantastic! <i class="em em-confetti_ball" aria-role="presentation" aria-label="CONFETTI BALL"></i></p>
      <p>Below is a continuing list of all the other things I've worked on.</p>
    </div>

    <section class="section__archive">
      <div class="section__border__margin"></div>
      <h1 class="section__title">The Archives.　アーカイブ。</h1>
      <div class="section__border__margin"></div>

      <div>
        {{ range where .Site.Pages.ByDate.Reverse "Section" "projects" }}
          <a class="box" href="{{ .Permalink }}" style="display: flex; justify-content: space-between; text-decoration: none; color: black;">
            <div>
              <h1>{{ .Params.japanese_title }}</h1>
              <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
              <p>{{ .Params.excerpt }}</p>
            </div>
            <div>
              <p class="category box">
                {{ range .Params.categories }}{{ . }}{{ end }}
              </p>
            </div>
          </a>
        {{ end }}
      </div>
    </section>
  </div>
{{ end }}






  <!-- <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>
  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1 class="flex-none">
            {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
          </h1>
        {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <section class="w-100 mw8">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
      <section class="w-100">
        <h1 class="f3">{{ i18n "more" }}</h1>
        {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
        {{ range (first 4 (after $n_posts $section))  }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .Permalink }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .Permalink }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
        {{ end }}
        </section>
      {{ end }}

      </div>
  {{ end }} -->