  /* Put your custom styles here and run `npm start` from the "src" directory on */
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* #00ffee */
  /* rgba(255,46,182,1) */

  .section__twd {
    display: flex;
    flex-direction: column;
  }

  .width_330px {
    width: 330px;
    /* I'm guessing this should be 100% */
  }

  .box {
    margin-bottom: 2rem;
    box-shadow: -6px 6px 0px 0px black;

    border: 2px solid black;
    padding: 1.5rem;
    transition: 0.3s;
  }

  .centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box:hover, .twd__logo:hover {
    box-shadow: -12px 12px 0px 0px black;
  }

  .section__part .text {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .section__border {
    height: 2px;
    width: 100%;
    background: black;
    box-shadow: 12px -12px 0px 0px black;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .section__border__margin {
    height: 2px;
    width: 100%;
    background: black;
    box-shadow: 12px -12px 0px 0px black;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }


  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 420px) {
    .main {
      max-width: 700px;
      align-items: flex-start;
    }

    .width_330px {
      width: 330px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .content {
    max-width: 600px;

    min-height: 500px;
  }

  .section__twd__bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }